<section class="contact">
  <h1 class="heading-primary">
    <span class="heading-primary--sub--light">
      {{ 'MENU.CONTACT' | translate }}
    </span>
  </h1>
  <div class="contact__container">
    <div class="contact__get-in-touch">
      <h3 class="contact__get-in-touch--title">
        {{ 'CONTACT.GET_IN_TOUCH' | translate }}
      </h3>
      <p class="paragraph paragraph--white">
        {{ 'CONTACT.TOUCH_INFO' | translate }}
      </p>
      <ul class="contact__list">
        <li class="contact__item">
          <span class="contact__title">
            {{ 'ABOUT_ME.RESIDENCE' | translate }}
          </span>
          <span class="contact__value">
            Bogota, Colombia
          </span>
        </li>
        <li class="contact__item">
          <span class="contact__title">
            {{ 'ABOUT_ME.EMAIL' | translate }}
          </span>
          <span class="contact__value">
            Bogota, Colombia
          </span>
        </li>
        <li class="contact__item">
          <span class="contact__title">
            {{ 'ABOUT_ME.PHONE' | translate }}
          </span>
          <span class="contact__value">
            +57 301 352 77 74
          </span>
        </li>
        <li class="contact__item">
          <span class="contact__available">
            {{ 'CONTACT.AVAILABLE' | translate }}
          </span>
        </li>
      </ul>
    </div>
    <div class="contact__form">
      <div
        class="contact__contacted"
        *ngIf="contacted"
        (click)="contacted = !contacted"
      >
        {{ 'CONTACT.CONTACTED_SUCCESS' | translate }}
      </div>
      <form
        [formGroup]="formGroup"
        *ngIf="formGroup"
        (ngSubmit)="contactMe()"
        class="form"
      >
        <div class="form__group">
          <label for="name" class="form__label">
            {{ 'COMMON.NAME' | translate }}
          </label>
          <input
            type="text"
            class="form__input"
            placeholder="{{ 'CONTACT.EX_NAME' | translate }}"
            formControlName="name"
            id="name"
            required
          />
          <ng-container
            *ngIf="
              formGroup.controls.name.hasError('required') &&
              formGroup.controls.name.touched
            "
          >
            <span class="form__error" [innerHTML]="'VALIDATORS.NAME_REQUIRED' | translate"></span>
          </ng-container>
        </div>
        <div class="form__group">
          <label for="email" class="form__label">
            {{ 'COMMON.EMAIL' | translate }}
          </label>
          <input
            type="text"
            class="form__input"
            placeholder="{{ 'CONTACT.EX_EMAIL' | translate }}"
            formControlName="email"
            id="email"
            required
          />
          <ng-container
            *ngIf="
              formGroup.controls.email.hasError('email') &&
              !formGroup.controls.name.hasError('required')
            "
          >
            <span class="form__error" [innerHTML]="'VALIDATORS.EMAIL_INVALID' | translate"></span>
          </ng-container>
          <ng-container
            *ngIf="
              formGroup.controls.email.hasError('required') &&
              formGroup.controls.email.touched
            "
          >
            <span class="form__error" [innerHTML]="'VALIDATORS.EMAIL_REQUIRED' | translate"></span>
          </ng-container>
        </div>
        <div class="form__group">
          <label for="message" class="form__label">
            {{ 'COMMON.MESSAGE' | translate }}
          </label>
          <textarea
            id="message"
            class="form__input"
            formControlName="message"
          ></textarea>
          <ng-container
            *ngIf="
              formGroup.controls.message.hasError('required') &&
              formGroup.controls.message.touched
            "
          >
            <span class="form__error" [innerHTML]="'VALIDATORS.MESSAGE_REQUIRED' | translate"
            ></span>
          </ng-container>
        </div>
        <div class="form__group recaptcha">
          <ngx-recaptcha2
            #captchaElem
            [siteKey]="siteKey"
            [hl]="lang"
            formControlName="recaptcha"
          >
          </ngx-recaptcha2>
        </div>
        <div class="form__group">
          <button
            type="submit"
            class="btn btn--secondary"
            [disabled]="!formGroup.valid"
          >
            {{ 'BUTTON.SEND_MESSAGE' | translate }} &rarr;
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
