<section class="resume">
  <h1 class="heading-primary">
    <span class="heading-primary--sub--light">
      {{ 'MENU.RESUME' | translate }}
    </span>
  </h1>
  <ul class="resume__tabs">
    <li
      (click)="selectTab('experience')"
      [ngClass]="{ active: selectedTab === 'experience' }"
    >
      {{ 'RESUME.EXPERIENCE' | translate }}
    </li>
    <li
      (click)="selectTab('education')"
      [ngClass]="{ active: selectedTab === 'education' }"
    >
      {{ 'RESUME.EDUCATION' | translate }}
    </li>
    <li
      (click)="selectTab('skills')"
      [ngClass]="{ active: selectedTab === 'skills' }"
    >
      {{ 'RESUME.SKILLS' | translate }}
    </li>
  </ul>
  <div class="resume__content">
    <ng-container *ngIf="selectedTab === 'experience'">
      <app-time-line [timeline]="experienceTimeLine"></app-time-line>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'education'">
      <app-time-line [timeline]="educationTimeLine"></app-time-line>
    </ng-container>
    <ng-container *ngIf="selectedTab === 'skills'">
      <app-skills></app-skills>
    </ng-container>
  </div>
</section>
