<mat-sidenav-container class="main-container">
  <mat-sidenav
    #sidenav
    [opened]="isBigScreen"
    class="navbar"
    [mode]="'side'"
    (click)="isBigScreen ? null : sidenav.close()"
  >
    <ng-content select="[menu]"></ng-content>
    <div class="language-selector">
      <app-nav-language-switcher></app-nav-language-switcher>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="!isBigScreen">
      <app-nav-toolbar [sidenav]="sidenav"></app-nav-toolbar>
    </div>
    <ng-content select="[content]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
