//Colors:
$color-primary: #202040;
$color-primary-light: #543864;
$color-primary-dark: #35263d;

$color-secondary: #ff6363;
$color-secondary-light: #f37b7b;
$color-secondary-dark: #9b3b3b;

$color-tertiary: #34495e;
$color-tertiary-light: #506e8d;
$color-tertiary-dark: #34495e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;

//Grid:

//Font:
$default-font-size: 1.5rem;
