<header class="header">
  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="assets/videos/coding.mp4" type="video/mp4" />
      <source src="assets/videos/coding.webm" type="video/webm" />
      Your Browser is not supported
    </video>
  </div>

  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">{{ 'NAME' | translate }}</span>
      <span class="heading-primary--sub">{{ 'CAREER' | translate }}</span>
    </h1>
    <img
      src="https://www.gravatar.com/avatar/492ca92542544781f657115eefeab50e"
      alt="{{ 'NAME' | translate }}"
      class="header__profile-picture"
    />
  </div>
</header>
