<!-- <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button> -->
<a class="pointer option">
  <img
    class="responsive flag-img"
    src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/{{
      currentFlag
    }}.svg"
  />
</a>

<!-- <mat-menu #aboveMenu="matMenu" xPosition="after"> -->
  <a
    class="lang-style"
    *ngFor="let language of languages"
    mat-menu-item
    (click)="changeLanguage(language.id)"
  >
    <img
      class="responsive flag-img"
      src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/{{
        language.flag
      }}.svg"
    />
  </a>
<!-- </mat-menu> -->
