<div class="site-nav">
  <ul class="site-main-menu">
    <li routerLinkActive="active">
      <a class="link" [routerLink]="['home']">
        <mat-icon class="icon">home</mat-icon>
        {{ 'MENU.HOME' | translate }}
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="link" [routerLink]="['about-me']">
        <mat-icon class="icon">portrait</mat-icon>
        {{ 'MENU.ABOUT_ME' | translate }}
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="link" [routerLink]="['resume']">
        <mat-icon class="icon">note</mat-icon>
        {{ 'MENU.RESUME' | translate }}
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="link" [routerLink]="['contact']">
        <mat-icon class="icon">contacts</mat-icon>
        {{ 'MENU.CONTACT' | translate }}
      </a>
    </li>
  </ul>
</div>
