.site-nav {
  display: block;
  padding: 25px 0 30px;
}

.site-main-menu {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', Helvetica, sans-serif;
}

.site-main-menu li {
  display: block;
  position: relative;
  padding: 0;
  text-align: center;
}

.site-main-menu li.active,
.site-main-menu li:hover {
  display: block;
  position: relative;
  padding: 0;
  text-align: center;
  border-right: 3px solid #ff724c;
}

.site-main-menu li a,
.site-main-menu li a:hover {
  display: block;
  position: relative;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.site-main-menu li.active a {
  background-color: transparent;
  opacity: 1;
}

.site-main-menu li:first-child a {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.icon {
  display: block;
  font-size: 21px;
  margin-bottom: 3px;
  text-align: center;
  width: auto;
}
