.principal {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url('../../../assets/images/main_background.jpg');
}

.container {
  height: 100%;
  position: relative;
}

.vertical-center {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.main-name {
  font-size: 3.3vw;
  color: #ff724c;
  font-family: 'Oxygen', Helvetica, sans-serif;
}

.career {
  font-size: 1vw;
}

@media (max-width: 900px) {
  .main-name {
    font-size: 5vw;
  }

  .career {
    font-size: 2vw;
  }

  .principal {
    background-size: 76vh 86vh;
  }
}

@media (max-width: 500px) {
  .main-name {
    font-size: 7.9vw;
  }

  .career {
    font-size: 5vw;
  }
}
