.option {
  display: block;
  position: relative;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.flag-img {
  max-width: 30px;
  max-height: 30px;
}

.lang-style {
  text-align: center;
}
