.card {
  position: relative;
  width: 15vw;
  margin: 10px;
  margin-bottom: 50px;
  float: left;
}

@media (max-width: 900px) {
  .card {
    width: 20vw;
  }
}

@media (max-width: 500px) {
  .card {
    width: 70vw;
  }
}
