<div class="portfolio">
  <h1 class="heading-primary mb-md">
    <span class="heading-primary--sub--secondary">{{
      'MENU.PORTFOLIO' | translate
    }}</span>
  </h1>
  <section class="portfolio__container">
    <figure class="portfolio__item portfolio__item--1">
      <img src="assets/images/portfolio/spoty-app.png" alt="Portfolio Spoty App"
      class="portfolio__img"
      (click)="goToLink('http://ng-spoty-app.portfolio.cavargas.com')" />
    </figure>
    <figure class="portfolio__item portfolio__item--2">
      <img src="assets/images/portfolio/burger-builder.png" alt="Portfolio
      Burger Builder" class="portfolio__img"
      (click)="goToLink('http://react-burger.portfolio.cavargas.com')" />
    </figure>
    <figure class="portfolio__item portfolio__item--3">
      <img src="assets/images/portfolio/gugulkip.png" alt="Portfolio Gugulkip"
      class="portfolio__img"
      (click)="goToLink('http://ng-gugulkip.portfolio.cavargas.com')" />
    </figure>
    <figure class="portfolio__item portfolio__item--4">
      <img src="assets/images/portfolio/mini-rappi.png" alt="Portfolio Mini
      Rappi" class="portfolio__img"
      (click)="goToLink('http://ng-mini-rappi.portfolio.cavargas.com')" />
    </figure>
    <figure class="portfolio__item portfolio__item--5">
      <img src="assets/images/portfolio/natours.png" alt="Portfolio Natours"
      class="portfolio__img"
      (click)="goToLink('http://sass-natours.portfolio.cavargas.com')" />
    </figure>
    <figure class="portfolio__item portfolio__item--6">
      <img src="assets/images/portfolio/nexter.png" alt="Portfolio Nexter"
      class="portfolio__img"
      (click)="goToLink('http://sass-nexter.portfolio.cavargas.com')" />
    </figure>
    <figure class="portfolio__item portfolio__item--7">
      <img src="assets/images/portfolio/poke-app.png" alt="Portfolio Poke App"
      class="portfolio__img"
      (click)="goToLink('http://ng-pokeapp.portfolio.cavargas.com')" />
    </figure>
    <figure class="portfolio__item portfolio__item--8">
      <img src="assets/images/portfolio/recipe-book.png" alt="Portfolio Recipe
      Book" class="portfolio__img"
      (click)="goToLink('http://ng-recipe-book.portfolio.cavargas.com')" />
    </figure>
    <figure class="portfolio__item portfolio__item--9">
      <img src="assets/images/portfolio/trillo.png" alt="Portfolio Trillo"
      class="portfolio__img"
      (click)="goToLink('http://sass-trillo.portfolio.cavargas.com')" />
    </figure>
  </section>
</div>
