<div class="container">
  <div class="left-top-rox-corner"></div>
  <div class="row">
    <div class="col s12 center-align">
      <h1 class="title scale-transition">{{ 'MENU.ABOUT_ME' | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col m12 l6 xl6">
      <img class="responsive-img" src="/assets/images/about-me.jpg" />
    </div>
    <div class="col m12 l6 xl6">
      <p class="white-text">
        {{ 'ABOUT_ME.FIRSTLY' | translate }}
      </p>
      <p>
        {{ 'ABOUT_ME.SECONDLY' | translate }}
      </p>
      <div>
        <ul class="info-list">
          <li>
            <span class="list-title">{{ 'ABOUT_ME.AGE' | translate }}</span>
            <span class="list-value">{{ age }}</span>
          </li>
          <li>
            <span class="list-title">
              {{ 'ABOUT_ME.RESIDENCE' | translate }}
            </span>
            <span class="list-value">Bogota, Colombia</span>
          </li>
          <li>
            <span class="list-title">{{ 'ABOUT_ME.EMAIL' | translate }}</span>
            <span class="list-value">
              <a class="list-title link" href="mailto:email@example.com">
                cavargas40@gmail.com
              </a>
            </span>
          </li>
          <li>
            <span class="list-title">{{ 'ABOUT_ME.PHONE' | translate }}</span>
            <span class="list-value">+57 301 352 77 74</span>
          </li>
          <li>
            <span class="list-title"></span>
            <span class="list-value"></span>
          </li>
        </ul>
        <ul class="social-links">
          <li>
            <a
              class="tip social-button"
              target="_blank"
              href="https://www.linkedin.com/in/carlos-andres-vargas-lopez-459914105/"
              title="LinkedIn"
            >
              <img src="/assets/images/social-media/linkedin.svg" />
            </a>
          </li>
          <li>
            <a
              class="tip social-button"
              target="_blank"
              href="https://github.com/cavargas40"
              title="Github"
            >
              <img src="/assets/images/social-media/github.svg" />
            </a>
          </li>
          <li>
            <a
              class="tip social-button"
              target="_blank"
              href="https://www.facebook.com/CaVargasLo"
              title="Facebook"
            >
              <img src="/assets/images/social-media/facebook.svg" />
            </a>
          </li>
          <li>
            <a
              class="tip social-button"
              target="_blank"
              href="https://twitter.com/cavargas40"
              title="Twitter"
            >
              <img src="/assets/images/social-media/twitter.svg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
