<section class="about-me">
  <figure class="about-me__item">
    <img class="about-me__picture" src="/assets/images/about-me.jpg" />
  </figure>
  <div class="about-me__box">
    <h1 class="heading-primary">
      <span class="heading-primary--sub--secondary center-text">
        {{ 'MENU.ABOUT_ME' | translate }}
      </span>
    </h1>
    <p class="paragraph paragraph--dark mt-medium">
      {{ 'ABOUT_ME.FIRSTLY' | translate }}
    </p>
    <p class="paragraph paragraph--dark">
      {{ 'ABOUT_ME.SECONDLY' | translate }}
    </p>
    <ul class="about-me__info-list">
      <li class="about-me__info-item">
        <span class="about-me__title">{{ 'ABOUT_ME.AGE' | translate }}</span>
        <span class="about-me__value">{{ age }}</span>
      </li>
      <li class="about-me__info-item">
        <span class="about-me__title">
          {{ 'ABOUT_ME.RESIDENCE' | translate }}
        </span>
        <span class="about-me__value">Bogota, Colombia</span>
      </li>
      <li class="about-me__info-item">
        <span class="about-me__title">{{ 'ABOUT_ME.EMAIL' | translate }}</span>
        <span class="about-me__value">
          <a class="about-me__title link" href="mailto:email@example.com">
            cavargas40@gmail.com
          </a>
        </span>
      </li>
      <li class="about-me__info-item">
        <span class="about-me__title">{{ 'ABOUT_ME.PHONE' | translate }}</span>
        <span class="about-me__value">+57 301 352 77 74</span>
      </li>
    </ul>
    <ul class="about-me__social-list">
      <li>
        <a
          class="about-me__social-list-btn"
          target="_blank"
          href="https://www.linkedin.com/in/carlos-andres-vargas-lopez-459914105/"
          title="LinkedIn"
        >
          <img
            class="about-me__social-list-img"
            src="assets/images/social-media/linkedin.svg"
          />
        </a>
      </li>
      <li>
        <a
          class="about-me__social-list-btn"
          target="_blank"
          href="https://github.com/cavargas40"
          title="Github"
        >
          <img
            class="about-me__social-list-img"
            src="assets/images/social-media/github.svg"
          />
        </a>
      </li>
      <li>
        <a
          class="about-me__social-list-btn"
          target="_blank"
          href="https://www.facebook.com/CaVargasLo"
          title="Facebook"
        >
          <img
            class="about-me__social-list-img"
            src="/assets/images/social-media/facebook.svg"
          />
        </a>
      </li>
    </ul>
  </div>
</section>

<!--
<ul class="social-links">
  <li>
    <a
      class="tip social-button"
      target="_blank"
      href="https://twitter.com/cavargas40"
      title="Twitter"
    >
      <img src="/assets/images/social-media/twitter.svg" />
    </a>
  </li>
</ul> -->
