html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.bold {
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
p {
  font-family: 'PT Sans', Helvetica, sans-serif;
  line-height: 1.5em;
  color: #e5e5e5;
}
.title {
  color: #555;
  padding: 24px;
  font-size: 5vh !important;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff724c;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.left-top-rox-corner {
  display: inline-block;
  position: absolute;
  background: transparent;
  width: 110px;
  height: 110px;
  border-top: 3px solid #ff724c;
  border-left: 3px solid #ff724c;
  left: 20px;
  top: 10px;
  z-index: 0;
}

.right-top-rocks-corner {
  display: inline-block;
  position: absolute;
  background: transparent;
  width: 110px;
  height: 110px;
  border-top: 3px solid #ff724c;
  border-right: 3px solid #ff724c;
  right: 20px;
  top: 10px;
  z-index: 0;
}

.right-bottom-rocks-corner {
  display: inline-block;
  position: absolute;
  background: transparent;
  width: 110px;
  height: 110px;
  border-bottom: 3px solid #ff724c;
  border-right: 3px solid #ff724c;
  right: 20px;
  bottom: 10px;
  z-index: 0;
}

@media (max-width: 900px) {
  .left-top-rox-corner {
    top: 75px;
  }

  .title {
    font-size: 5vh !important;
    margin-top: 44px !important;
    padding: 0;
  }
}

.center-align {
  text-align: center;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.col {
  box-sizing: border-box;
  padding: 0 0.75rem;
}

@media(max-width: 900px) {
  .col {
    box-sizing: border-box;
    padding: 0 3.75rem;
  }
}

.responsive-img {
  max-width: 100%;
  height: auto;
}
